/*
-- Folha de Estilos CSS - Learning Log 
*/

/*
-- Padrões e Reset
*/

* {margin: 0; padding: 0;}
ul {list-style-type: none;}
img, fieldset {border: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

/*
-- Tipografia e Cores
*/

body {
	color: #333;
	background-color: #FFF;
}

body, input select, textarea {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
	"Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

a:link {
	color: #0F599F;
}

a:visited {
	color: #666;
}

a:hover {
	color: #000;
	text-decoration: none;
}

a:focus {
	outline: 1px dotted #F00;
}

a:active {
	color: #F00;
}

p {
	font-size: 16px;
	margin-bottom: 1.5em;
	line-height: 1.4em;
}

#conteudo-principal h1 {
		font-family: "Courier New";
		font-weight: 600;
    font-size: 36px;
    margin-bottom: 0.5em;
}

#conteudo-principal p {
		font-family: "Courier New";
		font-size: 18px;
    margin-bottom: 0.5em;
}

#conteudo-secundario h1 {
    font-size: 18px;
    margin-bottom: 0.5em;
}

#conteudo-secundario p {
    font-size: 14px;
}

#conteudo-principal ul,
#conteudo-principal ol {
    font-size: 16px;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

#conteudo-principal ul {
    list-style-type: square;
}

#conteudo-principal li {
    margin-bottom: 0.3em;
}

#rodape-fora {
	background: #808080;
}

#rodape {
	color: white;	
}

#telefone-email, #endereco {
	margin: 12px 0;
}

#telefone-email {
	float: left;
	font-size: 16px;
}

#telefone-email span.ddd {
	font-size: 0.8em;
}

#copyright {
	font-size: 11px;
	color: #d9d9d9;
	clear: both;
	display: block;
	padding: 1em 0;

}

#endereco {
	float: right;
	text-align: right;
	font-size: 14px;
}

#logomarca {
    padding: 2px 0;
    display: block;
    float: left;
    marging
}

#logomarca img {
    display: block;
}

/*
-- Estrutura
*/

#menu-principal {
    position: absolute;
    top: 26px;
    right: 0;
}

#menu-principal li {
    display: inline;
}

#menu-principal a {
    display: block;
    float: left;
    font-size: 18px;
    text-decoration: none;
    color: #333333;
    margin-left: 32px;
}

#menu-principal a:hover, #menu-principal a.ativo {
	color: #0f599f;
}

#menu-principal a.ativo {
	font-weight: bold;
}

#cabecalho {
	position: relative;
}

#cabecalho, #conteudo, #rodape {
    width: 960px;
    margin: 0 auto;
}

#cabecalho {
  margin-top: 1%;
}

#conteudo {
    margin: 30px auto;
}

#menu-principal {
  margin-right: -5%;
}

#conteudo-principal {
    float: left;
    width: 640px;
}

#conteudo-secundario {
    float: right;
    width: 280px;
   	padding: 10px;
   	box-sizing: border-box;
}

#conteudo-secundario img {
    display: block;
}

#bd-home #foto-principal {
	height: 200px;
	background: #808080;
	background-image: url(../img/foto-principal.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

/*
-- Estilos Específicos e Seção
*/

#bd-home #conteudo-secundario {
    background: #808080;
    color: #FFF;
}

#bd-home #conteudo-secundario a {
    color: inherit;
}

p {
    font: italic;
}

/*
-- Classes de Uso Geral
*/

.grupo::before, .grupo::after  {
    content: " ";
    display: table;
}

.grupo::after {
    clear: both; 
}
